ion-menu {
    background-color: #ffffff;
    background-color: #0B1121; 
}

ion-title {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.item{
    --color: #ffffff;
}

ion-icon{
    color: #3246F2
}