<ion-menu contentId="main-content">
  <ion-header>
    <ion-title slot="start">Menú</ion-title>
  </ion-header>

  <ion-content>
    <br>
    <br>
    <br>
    <ion-list>
      <ion-item class="item" routerLink="/mecanico/home-mecanico">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item (click)="escanear_qr()"> 
        <ion-icon name="qr-code-outline" slot="start"></ion-icon>
        <ion-label>Escanear QR</ion-label>
      </ion-item>
      <ion-item (click)="escanear_patente()">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Escanear Patente</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list>
      <ion-item (click)="ajustes()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>
      <ion-item (click)="presentLogoutConfirm()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>

<div id="main-content">
  <ng-content></ng-content>
</div>
