.button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; /* Esquinas cuadradas */
    width: 49%;
    --color: #ffffff; 
  }
  
  .back-button {
    position: absolute;
    top: 30px;
    left: 10px;
    padding: 0;
    border: none;
    font-size: 2rem;
  }
  
  .title {
    font-size: 1.1rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .input-item {
    --background: #FFFFFF; // Fondo gris claro para el input
    border-radius: 8px; // Bordes redondeados
    margin-top: 3rem;
    margin-bottom: 1.5rem; // Espacio entre campos de entrada
    --color: black; // Texto negro para los inputs
  }
  
  .maintenance-card {
    margin-bottom: 1.5rem;
  }

  .color {
    --color: #FFFFFF;
  }
  
  ion-card-header {
    background-color: #0B1121;
  }
  
  ion-card-title {
    font-size: 1.2rem;
    color: #0B1121;
  }

  .client-details h3 {
    color: #ffffff;
  }
  
  .client-details p {
    color: #b3b3b3;
  }