ion-content {
  background-color: #0B1121;
  color: #ffffff;
}

.button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; 
    --color: #ffffff; 
    width: 49%; 
  }

  ion-title {
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3.2rem;
  }

  .title {
    color: #FFFFFF;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

  .back-button {
    color: #ffffff; // Flecha blanca
    border: none; // Sin borde
    font-size: 2rem; // Tamaño de la flecha
    top: 30px;  // Ajustar la posición
    left: 10px; // Ajustar la posición
    position: absolute;
  }

  .client-details h3 {
    color: #ffffff;
  }
  
  .client-details p {
    color: #b3b3b3;
  }

  .color {
    color: #FFFFFF;
  }