.xd {
  display: flex;
  --background: #3B82F6; /* Color de fondo azul para los botones */
  }

  ion-buttons {
    color: #FFFFFF; /* Cambiar el color del texto de los botones a azul */
    font-weight: bold; /* Hacer el texto de los botones más fuerte */
    border-radius: 8px; /* Bordes redondeados para los botones */
    padding: 10px; /* Añadir un poco de padding dentro de los botones */
  }

  ion-button {
    color: #FFFFFF; /* Cambiar el color del texto de los botones a azul */
    font-weight: bold; /* Hacer el texto de los botones más fuerte */
    border-radius: 8px; /* Bordes redondeados para los botones */
    padding: 10px; /* Añadir un poco de padding dentro de los botones */
  }

  ion-note {
    color: #FFFFFF; /* Cambiar el color del texto de los botones a azul */
  }

  .input-item {
    --background: #FFFFFF; // Fondo gris claro para el input
      border-radius: 8px; // Bordes redondeados
      margin-bottom: 1.5rem; // Espacio entre campos de entrada
      --color: black; // Texto negro para los inputs
  }

  // Estilo del botón con la flecha de regreso
  ion-icon {
    position: absolute;
    top: 30px;  // Ajustar la posición
    left: 10px; // Ajustar la posición
    color: #ffffff; // Flecha blanca
    padding: 0; // Sin relleno adicional
    border: none; // Sin borde

  }
  
  // Estilo del título
  ion-title {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2.5rem;
  }

  .dark-card {
    background-color: #ffffff; /* Gris oscuro */
    color: #3B82F6; /* Asegurarse de que el texto sea blanco para buen contraste */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  .dark-card ion-item {
    --background: transparent; /* Fondo transparente para los ítems */
  }
  
  .dark-card ion-label {
    color: #3B82F6; /* Texto de los labels en blanco */
  }
  
  .dark-card ion-button {
    --background: #ffffff; /* Color de fondo azul para los botones */
    color: #ffffff; /* Color del texto de los botones */
  }
  .pagination-button {
  margin: 10px;
  width: 45%;
  justify-content: space-between;

  background-color: #ffffff; /* Gris oscuro */
  color: #3B82F6; /* Asegurarse de que el texto sea blanco para buen contraste */
}

ion-button[disabled] {
  opacity: 0.5;
}

ion-buttonsa {
  display: flex;

}
.client-card {
  background-color: #ffffff; // Fondo blanco para las tarjetas
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra ligera
  margin: 1rem; // Separación entre tarjetas
  color: #6366F1; // Texto oscuro para contraste
}

.client-card ion-card-header {
  background-color: #f9f9f9; // Fondo ligeramente gris para el encabezado
  border-bottom: 1px solid #e0e0e0; // Línea divisoria
  border-radius: 10px 10px 0 0; // Bordes superiores redondeados
}

.client-card ion-card-title {
  color: #6366F1; // Color para el título
  font-weight: bold;
}

.client-card ion-list {
  color: #6366F1; // Color para el título
  font-weight: bold;
}
.client-card ion-card-content{

    background-color: #f9f9f9;
}