.reverse-buttons {
    display: flex;
    flex-direction: row-reverse; /* Invertir el orden de los botones */
    justify-content: space-between; /* Mantener los botones espaciados */
    width: 100%; /* Asegurar que los botones ocupen el 100% del ancho */
    padding: 10px; /* Añadir padding para que no queden pegados a los bordes */
  }