  // Estilo del botón con la flecha de regreso
ion-icon {
    position: absolute;
    top: 30px;  // Ajustar la posición
    left: 10px; // Ajustar la posición
    color: #ffffff; // Flecha blanca
    padding: 0; // Sin relleno adicional
    border: none; // Sin borde
    font-size: 2rem; // Tamaño de la flecha
}

  // Estilo del título
ion-title {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2.5rem;
}

.button-color{
    --color: #ffffff;
}

.button-container {
  display: flex;
}

.custom-button {
  --border-radius: 0px; /* Esquinas cuadradas */
  --color: #001f3f; 
  width: 49%; 

}

