<ion-header>
  <ion-icon name="arrow-back-outline" slot="star" class="back-button" (click)="goBack()" fill="clear"></ion-icon>
  <ion-title>Generar Cotización</ion-title>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre : {{ user.name }} {{ user.lastname }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo : {{ user.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Número Telefónico : {{ user.phone }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Vehículo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Patente : {{ car.patente }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Marca : {{ car.brand }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Modelo : {{ car.model }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Año : {{ car.year }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Servicios Seleccionados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let service of selectedServices">
        <ion-label>{{ service.name }}</ion-label>
        <ion-label slot="end">{{ service.price }}</ion-label>
        <ion-button slot="end" class="button-color" (click)="removeService(service)">Eliminar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Total servicios</ion-label>
        <ion-note slot="end" class="button-color">${{ calculateTotal() }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="deletedServices.length > 0">
    <ion-card-header>
      <ion-card-title>Lista de Servicios Eliminados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let deletedService of deletedServices">
        <ion-label>{{ deletedService.name }}</ion-label>
        <ion-label slot="end">{{ deletedService.price }}</ion-label>
        <ion-button slot="end" class="button-color" (click)="restoreService(deletedService)">Agregar</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-item"> 
        <ion-textarea placeholder="Escribe tus comentarios ..."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" (click)="presentAlert()" >
      Enviar
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/aprobar-cotiza">
      Aprobar
    </ion-button>
  </div>
</ion-footer>
