ion-header {
  ion-toolbar {
    --background: #ffffff !important;
    border: 0px;
  }
}

ion-content {

  .welcome-container {
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    max-width: 100%;
    background-color: #ffffff;
    color: #6366F1;

    .welcome-container__section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 4px;
    }

    ion-avatar {
      width: 70px;
      height: auto;
      margin: 0px 8px;
    }

    ion-label h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      color: #6366F1;
    }

    ion-label p {
      margin: 0;
      color: #6366F1;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 12px 0px;

    ion-button {
      width: 44%;
    }
  }

  .title {
    font-size: 24px;
    padding: 0px 18px;
    color: #ffffff;
    font-weight: bold;
  }

  .maintenance-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    

    ion-img {
      width: 170px;
      height: auto;
      padding: 0px 8px;
      border-radius: 10px;
    }

    .info__container {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      height: 100%;
      padding: 4px 4px;
    }

    ion-label {
      font-size: 14px;

      p {
        color: #6366F1;
        padding: 2px;
      }

      span {
        font-weight: bold;
        color: #6366F1;
      }
    }

    ion-badge {
      font-size: 14px;
      padding: 12px;
      color: #ffffff;
      font-weight: bolder;
    }

  }

  .service-options {
    ion-button {
      margin-bottom: 12px;
    }

    ion-button {
      --border-radius: 4px;
      --border: 0px
    }

    ion-button ion-img {
      padding: 0px 2px;
      width: auto;
      max-height: 65%;
      height: auto;
      padding: 0px 8px;
      border-radius: 4px;
    }
  }
}

ion-footer {
  background-color: #ffffff;

  ion-tab-bar {
    background-color: #ffffff;

    ion-tab-button {
      color: #ffffff;

      ion-icon {
        color: #ffffff;
      }
    }
  }
}

ion-toolbar {
  --padding: 0%;
  margin: 0;
  width: 100%;
}

.button-container {
  display: flex;
  padding: 0;
}

.custom-button {
  --border-radius: 0px;
  --color: #ffffff;;
  --padding: 0px 0px;
  --border-width: 0px;
  width: 100%;
  height: auto;
}

ion-menu-button{
  --color:#ffffff;
  font-size: 3rem;
}

// Estilo del título
ion-title {
color: #ffffff;
font-size: 1.5rem;
text-align: center;
margin-top: 2rem;
}

.ion-padding-bottom p span{
  color: #b3b3b3;
}

.ion-padding-top{
  font-size: 1.2rem;
}

.client-card {
  background-color: #ffffff; // Fondo blanco para las tarjetas
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra ligera
  margin: 1rem; // Separación entre tarjetas
  color: #6366F1; // Texto oscuro para contraste
}

.client-card ion-card-header {
  background-color: #f9f9f9; // Fondo ligeramente gris para el encabezado
  border-bottom: 1px solid #e0e0e0; // Línea divisoria
  border-radius: 10px 10px 0 0; // Bordes superiores redondeados
}

.client-card ion-card-title {
  color: #6366F1; // Color para el título
  font-weight: bold;
}

.client-card ion-list {
  color: #6366F1; // Color para el título
  font-weight: bold;
}
.client-card ion-card-content{

    background-color: #f9f9f9;
}
