<app-menucli></app-menucli>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Cliente</ion-title>
    <ion-buttons slot="end"  routerLink="/cliente/reserva">
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
      <ion-badge color="success">1</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-container">
    <div>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <br>
      <ion-label>
        <h2>Bienvenido, {{ user.name }}</h2>
        <br>
        <p>Cliente</p>
        <br>
      </ion-label>
    </div>
  </ion-card>

  <div class="action-buttons">
    <ion-button expand="block" color="tertiary" routerLink="/cliente/generar-qr">Generar QR</ion-button>
    <ion-button expand="block" color="tertiary" routerLink="/cliente/agenda-car-lis">Agendar hora</ion-button>
  </div>

  <ion-card routerLink="/cliente/info-mante">
    <ion-card-header>
      <ion-card-title class="text">Mantenciones en Curso:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="maintenance-info">
        <ion-img src="assets/image/mecanica.jpg" alt="Maintenance Image"></ion-img>
        <ion-label>
          <p>Marca: Toyota</p>
          <p>Modelo: Swift</p>
          <p>Año: 2018</p>
          <p>Patente: KDTD82</p>
        </ion-label>
        <ion-badge color="tertiary">En progreso</ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
  

  <!-- Elige el servicio a realizar -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text_2">Elige el servicio a realizar:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="service-options">
        <ion-button expand="block" color="light">Inspección y diagnóstico</ion-button>
        <ion-button expand="block" color="light">Mantenimiento preventivo</ion-button>
        <ion-button expand="block" color="light">Mantenimiento correctivo</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Menu y contacto -->
<ion-footer>
  <ion-toolbar>
    <div class="button-container">
      <ion-button class="custom-button" expand="block" routerLink="/cliente/home-cliente">
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-button>
      <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
        <ion-icon slot="start" name="person"></ion-icon>
        Perfil
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
