<app-menucli></app-menucli>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Cliente</ion-title>
    <ion-buttons slot="end" routerLink="/cliente/reserva">
      <ion-icon name="notifications-outline" slot="end"></ion-icon>
      <ion-badge color="success">1</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-container">
    <div class="ion-padding welcome-container__section">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label class="ion-padding">
        <h2>Bienvenido, {{ username }}</h2>
        <p class="ion-padding-top">Cliente</p>
        <br>
      </ion-label>
    </div>
  </ion-card>

  <div class="action-buttons">
    <ion-button expand="block" color="tertiary" routerLink="/cliente/generar-qr">Generar QR</ion-button>
    <ion-button expand="block" color="tertiary" routerLink="/cliente/agenda-car-lis">Agendar hora</ion-button>
  </div>

  <h3 class="title">Mantenciones en Curso:</h3>

  <ion-card *ngIf="maintenanceData && maintenanceData.car">
    <ion-card-content class="maintenance-in_course">
      <div class="maintenance-info">
        <ion-img src="assets/image/mecanica.jpg" alt="Maintenance Image"></ion-img>
        <div class="info__container">
          <ion-label class="ion-padding-bottom">
            <p><span>Patente: </span>{{ maintenanceData.car.patent }}</p>
            <p><span>Marca: </span>{{ maintenanceData.car.brand }}</p>
            <p><span>Modelo: </span>{{ maintenanceData.car.model }}</p>
            <p><span>Año: </span>{{ maintenanceData.car.year }}</p>
          </ion-label>
          <ion-badge color="success">{{ maintenanceData.status }}</ion-badge>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  

  <!-- Elige el servicio a realizar -->
  <h3 class="title">Elige el servicio a realizar:</h3>
  <ion-card>
    <ion-card-content>
      <div class="service-options">
        <ion-button expand="block" color="dark" class="ion-padding-bottom">
          <ion-img src="assets/image/mecanica.jpg" alt="Maintenance Image"></ion-img>
          Inspección y diagnóstico
        </ion-button>
        <ion-button expand="block" color="light" class="ion-padding-bottom">
          Mantenimiento preventivo
          <ion-img src="assets/image/mecanica.jpg" alt="Maintenance Image"></ion-img>
        </ion-button>
        <ion-button expand="block" color="dark">
          <ion-img src="assets/image/mecanica.jpg" alt="Maintenance Image"></ion-img>
          Mantenimiento correctivo
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- Menu y contacto -->
<ion-footer>
  <ion-toolbar>
    <div class="button-container">
      <ion-button class="custom-button" expand="block" routerLink="/cliente/home-cliente">
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-button>
      <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
        <ion-icon slot="start" name="person"></ion-icon>
        Contactar
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>