ion-content {
    background-color: #0B1121;
    color: #fff;
  
    .welcome-container {
      display: flex;
      margin-bottom: 10px;
      padding-top: 10px;
      justify-content: center;
      max-width: 320px;
  
      ion-avatar {
        margin-left: 50px;
        align-items: center;
      }
  
      ion-label h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }
  
      ion-label p {
        margin: 0;
        color: #fff;
        margin-left: 50px;
      }
    }
  
    .action-buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      ion-button {
        width: 48%;
      }
    }

    .text {
      text-align: center;
      font-size: 1.5rem;
    }

    .text_2 {
      text-align: center;
      font-size: 1.4rem;
    }
  
    .maintenance-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      ion-img {
        width: 80px;
        height: 80px;
        border-radius: px;
      }
  
      ion-label {
        font-size: 14px;
  
        p {
          margin: 0;
        }
      }
  
      ion-badge {
        font-size: 12px;
        padding: 6px;
      }
    }
  
    .service-options {
      ion-button {
        margin-bottom: 10px;
      }
    }
  }
  
  ion-footer {
    background-color: #0a0e2e;
  
    ion-tab-bar {
      background-color: #1b1f3b;
      ion-tab-button {
        color: #fff;
        ion-icon {
          color: #fff;
        }
      }
    }
  }
  .button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; 
    --color: #001f3f; 
    width: 49%; 

  }
  