ion-content {
    background: #0B1121;
    color: #ffffff;
  }
  
  .profile-card {
    text-align: center;
    margin-left: 5px;
  }

  // Estilo del botón con la flecha de regreso
  .back-button {
    position: absolute;
    top: 30px;  // Ajustar la posición
    left: 10px; // Ajustar la posición
    color: #ffffff; // Flecha blanca
    padding: 0; // Sin relleno adicional
    border: none; // Sin borde
    font-size: 2rem; // Tamaño de la flecha
}

.hola {
  align-items: start;
  position: relative;
  bottom: 75px;
  right: 16px; // Ajustar la posición
}

  // Estilo del título
ion-title {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 2.5rem;
}

ion-avatar {
  width: 25%;
  height: 25%;
}

  .title {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 2.5rem;
}

  .settings-list{
      background-color: #142d4c;
      margin: 18px;
      border-radius: 10px;
      color: #ffffff;
  }
  
  .logout-button {
    padding: 20px;
  }
  
  ion-tab-bar {
    background-color: #0B1121;
    ion-tab-button {
      --color-selected: #007aff;
    }
  }
  .button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; 
    --color: #0B1121; 
    width: 49%; 
    --color: #ffffff;
  }

  .ion-text-capitalize{
    text-align: center;
    left: 20px; // Ajustar la posición
  }