<ion-header>
  <ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title>Seguimiento</ion-title>
  <br>
  <br>
</ion-header>

<ion-content >
  <br>
  <br>
  
  <!-- Comenzando Card -->
  <ion-card class="client-card" [ngClass]="{'active-card': maintenanceStatus?.status === 'Comenzando'}">
    <ion-card-content>
      <ion-item>
        <ion-card-content>
          <div class="card-content">
            <ion-label>
              <img src="assets/image/inicio.jpg">
            </ion-label>
            <div class="text-content">
              <h2>Comenzando</h2>
              <ion-button color="primary" *ngIf="maintenanceStatus?.status === 'Comenzando'">
                Actual
              </ion-button>
              <ion-icon name="checkmark-circle" color="success" *ngIf="maintenanceStatus?.status !== 'Comenzando'"></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- En progreso Card -->
  <ion-card class="client-card" [ngClass]="{'active-card': maintenanceStatus?.status === 'En progreso'}">
    <ion-card-content>
      <ion-item>
        <ion-card-content>
          <div class="card-contenta">
            <div class="text-contenta">
              <h2>En progreso</h2>
              <ion-button color="primary" *ngIf="maintenanceStatus?.status === 'En progreso'">
                Actual
              </ion-button>
              <ion-icon name="checkmark-circle" color="success" *ngIf="maintenanceStatus?.status !== 'En progreso' && maintenanceStatus?.status !== 'Comenzando'"></ion-icon>
            </div>
            <ion-label>
              <img src="assets/image/desarrollo.jpg">
            </ion-label>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Listo para entrega Card -->
  <ion-card class="client-card" [ngClass]="{'active-card': maintenanceStatus?.status === 'Finalizado'}">
    <ion-card-content>
      <ion-item>
        <ion-card-content>
          <div class="card-content">
            <ion-label>
              <img src="assets/image/fin.jpg">
            </ion-label>
            <div class="text-content">
              <h2>Listo para entrega</h2>
              <ion-button color="primary" *ngIf="maintenanceStatus?.status === 'Finalizado'">
                Actual
              </ion-button>
              <ion-icon name="checkmark-circle" color="success" *ngIf="maintenanceStatus?.status === 'Finalizado'"></ion-icon>
            </div>
          </div>
        </ion-card-content>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="input-button" routerLink="/cliente/home-cliente" >Finalizar estado</ion-button>
    <h6 class="pad">Al finalizar el estado va a cambiar a “Listo para entrega”</h6>
  </ion-toolbar>
</ion-footer>
