<ion-header>
  <!-- Botón de regreso con flecha -->
<ion-icon name="arrow-back-outline" slot="start" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title>Estado</ion-title>
  <br>
  <br>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item *ngFor="let evento of eventosinicio">
          <ion-card-content>
            <div class="card-content">
              <ion-label>
                <img [src]="evento.image">
              </ion-label>
              <div class="text-content">
                <h2>{{ evento.title }}</h2>
                <ion-button *ngIf="evento.buttonTitle" color="primary" (click)="onButtonClick(evento)">
                  {{ evento.buttonTitle }}
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item *ngFor="let evento of eventosprogreso">
          <ion-card-content>
            <div class="card-contenta">
              <div class="text-contenta">
                <h2>{{ evento.title }}</h2>
                <ion-button *ngIf="evento.buttonTitle" color="primary" (click)="onButtonClick(evento)">
                  {{ evento.buttonTitle }}
                </ion-button>
              </div>
              <ion-label>
                <img [src]="evento.image">
              </ion-label>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item *ngFor="let evento of eventosListo">
          <ion-card-content>
            <div class="card-content">
              <ion-label>
                <img [src]="evento.image">
              </ion-label>
              <div class="text-content">
                <h2>{{ evento.title }}</h2>
                <ion-button *ngIf="evento.buttonTitle" color="primary" (click)="onButtonClick(evento)">
                  {{ evento.buttonTitle }}
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div>
    <ion-button class="input-button" (click)="presentAlert()">Finalizar</ion-button>
    <br>
  </div>
  </ion-toolbar>
</ion-footer>