ion-content {
  background-color: #0B1121;  
  color: #ffffff;
}


.client-card {
    background-color: #0B1121;
    
    ion-card-header {
      ion-card-title {
        color: #ffffff;
        font-size: 1.2rem;
      }
    }
  
    ion-card-content {
      .card-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .card-contenta {
        display: flex;
        justify-content: space-between;
      }
  
      .text-content {
        margin-left: 2rem;
        flex: 1;
  
        h2 {
          color: #ffffff;
          font-size: 1.5rem;
        }
        
      }
      .text-contenta {
        margin-right: 2rem;
        flex: 1;
  
        h2 {
          color: #ffffff;
          font-size: 1.5rem;
        }
        
      }
      
      img {
        width: 120px; 
        height: 100px; 
        object-fit: cover; 
      }
    }
  }

      // Estilo del botón con la flecha de regreso
      .back-button {
        position: absolute;
        top: 30px;  // Ajustar la posición
        left: 10px; // Ajustar la posición
        color: #ffffff; // Flecha blanca
        padding: 0; // Sin relleno adicional
        border: none; // Sin borde
        font-size: 2rem; // Tamaño de la flecha
    }
    
      // Estilo del título
    ion-title {
        color: #ffffff;
        font-size: 1.8rem;
        text-align: center;
        margin-top: 2.5rem;
    }
  
  ion-item {
    --background: #0B1121;
  }
  
  .button-container {
    display: flex;
  }

  .input-button{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    --color: #FFFF;
}
  
  .custom-button {
    --border-radius: 0px;
    --color: #0B1121;
    width: 49%;
  }
  .pad{
    margin: 2 auto; 
    text-align: center;
    font-size: 0.8rem;
  }