<app-menu></app-menu>

<ion-header>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Home</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <!-- Client Information Card -->
  <ion-card class="client-card">
    <ion-card-content>
      <div class="card-content">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/icon/mecanico_2.png"/>
        </ion-avatar>
        <div class="text-content">
          <h2>Bienvenido, {{ user.name }}</h2>
          <p>Mecánico</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Current Client Information -->
  <ion-card class="client-card">
    <ion-card-header>
      <ion-card-title>Mantenimientos Actuales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="currentList.length > 0; else noCurrentMaintenance">
        <ion-item *ngFor="let record of currentList" (click)="saveMaintenanceIdAndNavigate(record.maintenance.id)">
          <ion-label class="client-details">
            <h2>Cliente: {{ record.client.name }} {{ record.client.lastname }}</h2>
            <p>Vehículo: {{ record.car.patent }}</p>
            <p>Fechas de inicio: {{ record.maintenance.start_maintenance | date: 'dd/MM/yyyy'}}</p>
            <p>Hora de inicio: {{ record.maintenance.start_maintenance | date: 'HH:mm' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ng-template #noCurrentMaintenance>
        <ion-card>
          <ion-card-content>
            <p class="no-current-maintenance-msg">No hay mantenimientos actuales</p>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- Maintenance Calendar for Today -->
  <ion-card class="client-card">
    <ion-card-header>
      <ion-card-title>Agenda de Hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="calendar.length > 0; else noMaintenance">
        <ion-item *ngFor="let entry of calendar" (click)="saveMaintenanceIdAndNavigate(entry.id)">
          <ion-label class="client-details">
            <h2>{{ entry.description }}</h2>
            <p>Hora: {{ entry.start_maintenance | date: 'shortTime' }}</p>
            <p>Precio: {{ entry.pricing | currency:'$':'symbol':'1.0-0' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ng-template #noMaintenance>
        <ion-card>
          <ion-card-content>
            <p class="no-maintenance-msg">No hay mantenimientos pendientes</p>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- Footer Navigation -->
<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/lista-cotiza">
      <ion-icon slot="start" name="book"></ion-icon>
      Cotizaciones
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Cliente
    </ion-button>
  </div>
</ion-footer>
