<app-menu></app-menu>

<ion-header>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-card class="client-card">
    <ion-card-content>
      <div class="card-content">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="text-content">
          <h2 class="ion-text-capitalize">Bienvenido, {{ user.name }} </h2>
          <p>Mecanico </p>
          <a href="/mecanico/agregar-vehiculo">home-mecanico</a>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="client-card" routerLink="/mecanico/info-ser-cli">
    <ion-card-header>
      <ion-card-title>Cliente actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="card-content">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <div class="text-content">
          <h2>Jhon Doe</h2>
          <p>jhondoe.example.com</p>
          <p>+56 9 852 132 13</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="client-card">
    <ion-card-header>
      <ion-card-title>Agenda de Hoy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let evento of eventos">
          <ion-label>
            <ion-card-subtitle>{{ evento.patente }}</ion-card-subtitle>
            <h2>{{ evento.nombre }}</h2>
            <p>{{ evento.hora }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button href="">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button  href="">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>

    <ion-tab-button  routerLink="/mecanico/register-user">
      <ion-icon name="people"></ion-icon>
      <ion-label>Crear Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
