<ion-content class="ion-padding">
  <!-- Botón con la flecha en la esquina superior izquierda -->
  <ion-icon
    name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"
  ></ion-icon>
  <br>
  <br>
  <h1 class="title">Registrar cliente</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="user-form">
    <ion-label position="floating">Nombre de usuario:</ion-label>
    <ion-item class="input-item">
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-label position="floating">Número de teléfono:</ion-label>
    <ion-item class="input-item">
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-label position="floating">Apellido de usuario:</ion-label>
    <ion-item class="input-item">
      <ion-input formControlName="lastname"></ion-input>
    </ion-item>
    <ion-label position="floating">Correo electronico:</ion-label>
    <ion-item class="input-item">
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-label position="floaating">Rut:</ion-label>
    <ion-item class="input-item">
      <ion-input formControlName="rut"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Crear cuenta</ion-button>
  </form>
</ion-content>

<ion-text class="line1">__________________</ion-text>
  <h2 class="final">AutoMinder</h2>