<ion-header>
  <!-- Botón de regreso con flecha -->
  <ion-icon name="arrow-back-outline" slot="start" class="back-button" (click)="goBack()" fill="clear"></ion-icon>
  <ion-title>Escanear QR</ion-title>
  <br>
  <br>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="photo-container">
    <ion-img src="assets/image/qr.png" alt="Maintenance Image"></ion-img>
  </div>
  <br>
  <br>
  <br>

  <!-- Campo para escribir el RUT -->
  <p>Ingrese el RUT del Cliente</p>
  <ion-item>
    <ion-input [(ngModel)]="rut" type="text" placeholder="RUT (ej. 12345678-9)"></ion-input>
  </ion-item>

  <br>
  <br>

  <!-- Botón para proceder con el RUT -->
  <ion-button class="input-container" (click)="submitRUT()">
    Confirmar RUT
  </ion-button>

</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/home-mecanico">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Cliente
    </ion-button>
  </div>
</ion-footer>
