<ion-header>
  <!-- Botón de retroceso -->
  <ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title class="title">Reservas</ion-title>
  <br>
  <br>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <!-- Barra de búsqueda -->
  <ion-searchbar
    class="input-item"
    placeholder="Buscar por nombre o patente..."
    (ionInput)="filterReservations($event)">
  </ion-searchbar>

  <!-- Listado de Reservas -->
  <ion-card 
    class="client-card" 
    *ngFor="let reservation of paginatedReservations" 
    (click)="saveQuotationId(reservation)">
    <ion-card-header>
      <ion-card-title>{{ reservation.client.name }} {{ reservation.client.lastname }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label class="client-details">
            <h3>Detalles de la Reserva</h3>
            <p>RUT Cliente: {{ reservation.client.rut }}</p>
            <p>Auto: {{ reservation.car.brand }} {{ reservation.car.model }} {{ reservation.car.year }} {{ reservation.car.patent }}</p>
            <!-- Fecha de Reserva -->
            <p>Fecha de Reserva: {{ reservation.reservation.date_reservation | date }}</p>

            <!-- Estado de Aprobación -->
            <p>Estado Aprobación Mecánico:
              <!-- Mostrar "En espera" si no ha sido aprobado -->
              <ion-icon *ngIf="reservation.reservation.is_approved_by_mechanic === null" name="time-outline" color="medium"></ion-icon>
              <span *ngIf="reservation.reservation.is_approved_by_mechanic === null">En espera</span>

              <!-- Mostrar "Aprobado" si ha sido aprobado -->
              <ion-icon *ngIf="reservation.reservation.is_approved_by_mechanic === 1" name="checkmark-outline" color="success"></ion-icon>
              <span *ngIf="reservation.reservation.is_approved_by_mechanic === 1">Aprobado</span>

              <ion-icon *ngIf="reservation.reservation.is_approved_by_mechanic === 0" name="close-outline" color="danger"></ion-icon>
              <span *ngIf="reservation.reservation.is_approved_by_mechanic === 0">Rechazado</span>
            </p>

            <!-- Recordatorio -->
            <p *ngIf="reservation.reservation.has_reminder === 1">Recordatorio activado</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Paginación -->
  <div class="pagination-container">
    <ion-button fill="clear" [disabled]="currentPage === 1" (click)="previousPage()">
      Anterior
    </ion-button>
    <ion-button fill="clear" [disabled]="currentPage >= filteredReservations.length / itemsPerPage" (click)="nextPage()">
      Siguiente
    </ion-button>
  </div>


</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/home-mecanico">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Cliente
    </ion-button>
  </div>
</ion-footer>
