<ion-content class="ion-padding">
  <!-- Botón de regreso con flecha -->
    <ion-icon name="arrow-back-outline" class="back-button" fill="clear" a routerLink="/inicio-sesion"></ion-icon>
    <br>
    <br>
    <h1 class="title">Nueva Contraseña</h1>
    <p class="description">Para poder cambiar la contraseña es necesario enviar un correo electrónico para verificar que eres tú.</p>
  
    <form>
      <ion-label position="stacked">Nueva Contraseña:</ion-label>
      <ion-item class="input-item">
        <ion-input type="password"></ion-input>
      </ion-item>
      
      <ion-label position="stacked">Repetir nueva contraseña:</ion-label>
      <ion-item class="input-item">
        <ion-input type="password"></ion-input>
      </ion-item>
  
      <ion-button expand="block" type="submit" a routerLink="/inicio-sesion">Volver al inicio sesión</ion-button>
    </form>
</ion-content>

<ion-text class="line1">--------------------</ion-text>
<h2 class="final">AutoMinder</h2>