.button-container {
    display: flex;
  }

  // Estilo del botón con la flecha de regreso
.back-button {
  position: absolute;
  top: 30px;  // Ajustar la posición
  left: 10px; // Ajustar la posición
  color: #ffffff; // Flecha blanca
  padding: 0; // Sin relleno adicional
  border: none; // Sin borde
  font-size: 2rem; // Tamaño de la flecha
}

  // Estilo del título
ion-title {
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 3rem;
}

.custom-button {
    --border-radius: 0px; /* Esquinas cuadradas */
    width: 100%;
    height: 1%;
    color: #ffffff;
  }

  .color{
    --color: #ffffff;
}
.input-item{
  --background: #FFFFFF; // Fondo gris claro para el input
  color: black; // Texto negro para los inputs
  max-width: 400px; 
  width: 100%;
}

.button-container {
  display: flex;
}

.custom-button {
  --border-radius: 0px; /* Esquinas cuadradas */
  width: 100%;
  height: 1%;
}