<ion-header>
  <ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title>Información Cotización</ion-title>
</ion-header>

<ion-content *ngIf="quotation && quotation.car && quotation.defaultMechanic">
  <br>
  <br>
  <br>
  <br>
  <ion-card *ngIf="user ">
    <ion-card-header>
      <ion-card-title class="title">Datos Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-list>
        <ion-item>
          <ion-label>Nombre: {{ user.name }} {{ user.lastname }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo: {{ user.email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>RUT: {{ user.rut }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Datos Vehículo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-list>
        <ion-item>
          <ion-label>Patente: {{ quotation.car.patent }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Marca: {{ quotation.car.brand }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Modelo: {{ quotation.car.model }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Año: {{ quotation.car.year }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Lista de Servicios</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-item *ngFor="let service of listServices">
        <ion-label>{{ service.name }}</ion-label>
        <ion-label  slot="end">{{ service.price | currency }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total servicios</ion-label>
        <ion-note slot="end" class="color">{{ quotation.total_price | currency }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Notas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-item">
        <ion-textarea 
          placeholder="Escribe tus comentarios ..."
          [(ngModel)]="recommendationNote">
        </ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer *ngIf="quotation && quotation.car && quotation.defaultMechanic">
  <div class="button-container">
    <ion-button class="custom-button" expand="block" (click)="presentAlertre()">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Rechazar
    </ion-button>
    <ion-button class="custom-button" expand="block" (click)="presentAlert()">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      Aceptar
    </ion-button>
  </div>
</ion-footer>
