.welcome-container {
  color: #f2f2f2; /* Texto principal en púrpura */
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #ffffff; /* Título en azul profundo */
  }
  h6 {
    color: #ffffff; /* Título en azul profundo */
  }
  p {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #ffffff; /* Texto descriptivo en gris oscuro */
  }

  ion-button {
    --background: #6366F1; /* Fondo del botón púrpura */
    color: #FFFFFF; /* Texto del botón blanco */
    font-size: 1rem;
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px;
    margin: 1rem auto;
    display: block;
    width: 70%;
    height: 50px; /* Altura consistente */
    justify-content: center;
    align-items: center;
  }

  .terms {
    margin-top: 2rem;
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff; /* Gris medio */
    font-size: 0.9rem;
  }

  .a-1 {
    color: #ffffff; /* Texto en gris oscuro */
    font-weight: bold;
  }
}

.a-2 {
  color: #BCBCBC; /* Texto explicativo en gris medio */
  text-align: justify;
  margin-top: 150px;
  font-size: 0.9rem;
}

ion-text {
  margin-top: 20px;

  a {
    color: #B3A0F5; /* Enlaces en púrpura claro */
    text-decoration: none;
    font-size: 0.9rem;

    &:hover {
      color: #7B5BF2; /* Más oscuro al pasar el cursor */
    }
  }
}

.line1,
.line2 {
  text-align: center;
  color: #6366F1; /* Azul profundo */
}

.final {
  color: #ffffff; /* Texto en gris oscuro */
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.button {
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1rem;
  font-weight: bold;
  height: 80px;
  --background: #6366F1; /* Púrpura */
}
