<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1>Bienvenido</h1>
    <p class="a-1">La mejor aplicación de control y gestión de mantenimientos de tu vehículo.</p>
    <ion-button expand="block" color="primary">Regístrate ahora</ion-button>
    <ion-button expand="block" fill="outline" color="primary" routerLink="/inicio-sesion">Iniciar sesión</ion-button>
    <a class="a-1">El documento denominado Términos y Condiciones Generales de Uso de una determinada página o sitio web es aquel que contiene las normas que regulan la interacción de las personas que acceden a ella (usuarias) con el contenido que la misma página pone a disposición, con los productos y/o servicios ofrecidos en ella, y con las personas responsables del sitio.</a>
    <p class="terms">
      <a href="/terminos-y-condiciones">Términos y Condiciones</a>
    </p>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>AutoMinder</ion-title>
  </ion-toolbar>
</ion-footer>