<ion-header>
  <!-- Botón de regreso con flecha -->
<ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title>Seguimiento</ion-title>
  <br>
  <br>
</ion-header>

<ion-content (click)="presentAlert()">
  <br>
  <br>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item >
          <ion-card-content>
            <div class="card-content">
              <ion-label>
                <img src="assets/image/inicio.jpg">
              </ion-label>
              <div class="text-content">
                <h2>Comenzando</h2>
                <ion-button color="primary">
                  Actual
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item >
          <ion-card-content>
            <div class="card-contenta">
              <div class="text-contenta">
                <h2>En progreso</h2>
                <ion-button color="primary">
                  Actual
                </ion-button>
              </div>
              <ion-label>
                <img src="assets/image/desarrollo.jpg">
              </ion-label>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="client-card">
    <ion-card-content>
        <ion-item >
          <ion-card-content>
            <div class="card-content">
              <ion-label>
                <img src="assets/image/fin.jpg">
              </ion-label>
              <div class="text-content">
                <h2>Listo para entrega</h2>
                <ion-button color="primary">
                  Actual
                </ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="input-button" (click)="presentAlert()">Finalizar estado</ion-button>
    <h2 class="pad" *ngIf="maintenanceStatus">{{ maintenanceStatus.status }}</h2>
    <h6 class="pad">Al finalizar el estado va a cambiar a “Listo para entrega”</h6>
  </ion-toolbar>
</ion-footer>