<ion-header>
  <!-- Botón de regreso con flecha -->
  <ion-icon name="arrow-back-outline" slot="star" class="back-button" (click)="goBack()" fill="clear"></ion-icon>
  <ion-title>Escanear Patente</ion-title>
  <br>
  <br>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <!-- Open Camera Button -->

  <!-- License Plate Input -->
  <br>
  <br>
  <br>

  <!-- Send License Plate Button -->
  <br>
  <br>
  <br>
  <app-ocr></app-ocr>

  <div class="input-container">
    <ion-label position="floating">Ingresar Patente</ion-label>
    <br>
    <br>
    <br>
    <ion-input type="text" placeholder="Ingresar patente" [(ngModel)]="patent"></ion-input>
  </div>
  <div class="button-container">
    <ion-button expand="block" color="tertiary" (click)="searchCarByPatent()">
      Buscar Patente
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <div class="button-container_2">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/home-mecanico">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Perfil
    </ion-button>
  </div>
</ion-footer>
