<ion-header>
  <!-- Botón de regreso con flecha -->
<ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title>Información vehículo</ion-title>
  <br>
  <br>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title class="title">Datos Cliente</ion-card-title>
  </ion-card-header>
  <ion-card-content class="info-card">
    <ion-list>
      <ion-item class="item">
        <ion-label>Nombre : Pamela Chupa</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Correo : pa.chupaloduoc.cl</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Numero Telefonico : +56985213213</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha : 29/09/2024</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hora : 15:30</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title class="title">Datos vehículo</ion-card-title>
  </ion-card-header>
  <ion-card-content class="info-card">
    <ion-list>
      <ion-item>
        <ion-label>Patente : KDTS82</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Marca : Toyota</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modelo : Yaris</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Año : 2018</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title class="title">Lista de Servicios</ion-card-title>
  </ion-card-header>
  <ion-searchbar class="input-item" placeholder="Buscar Cotizasion..."></ion-searchbar>
  <ion-card-content class="info-card">
    <ion-list>
      <ion-item *ngFor="let evento of eventos" routerLink="/mecanico/info-car">
        <ion-label>
          <ion-card-subtitle>{{ evento.patente }}</ion-card-subtitle>
          <h2>{{ evento.nombre }}</h2>
          <p>{{ evento.hora }}</p>
          <p>{{ evento.estado }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" (click)="goBack()">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
      <ion-icon slot="start" name="person"></ion-icon>
      Perfil
    </ion-button>
  </div>
</ion-footer>
