<ion-header>
  <ion-icon name="arrow-back-outline" slot="start" class="back-button" (click)="goBack()" fill="clear"></ion-icon>
  <ion-title>Lista de vehículos</ion-title>
  <br>
  <br>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <ion-searchbar placeholder="Buscar vehículos por patente..." class="input-item" (ionInput)="filterByPatente($event)"></ion-searchbar>
  <ion-card class="client-card">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let car of filteredCars" (click)="selectCar(car)">
          <ion-label class="client-details">
            <h2>Patente: {{ car.patent }}</h2>
            <p>Marca: {{ car.brand }}</p>
            <p>Modelo: {{ car.model }} 
            <p>Año: {{ car.year }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/home-mecanico">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Cliente
    </ion-button>
  </div>
</ion-footer>
