ion-header {
    --background: #ffffff;

  }
  
  ion-title {
    color: #ffffff;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .client-card {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 16px;
  }
  
  .client-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Estilo del botón con la flecha de regreso
  .back-button {
    position: absolute;
    top: 30px;  // Ajustar la posición
    left: 10px; // Ajustar la posición
    color: #ffffff; // Flecha blanca
    padding: 0; // Sin relleno adicional
    border: none; // Sin borde
    font-size: 2rem; // Tamaño de la flecha
}
  
  .avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
  }
  
  .client-details h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }
  
  .client-details p {
    margin: 2px 0;
    color: #6366F1;
    font-size: 0.9rem;
  }
  
  .action-button {
    margin-top: 16px;
    --color: #ffffff; 
  }
  
  ion-tab-bar {
    --background: #1d1d2e;
    --color: #ffffff;
    --color-selected: #624ed4;
  }
  
  ion-tab-button {
    font-size: 0.9rem;
  }
.button-container {
    display: flex;
}

.custom-button {
    --border-radius: 0px; /* Square corners */
    width: 100%;
    height: 1%;
    --color: #ffffff;
}

.client-card {
  background-color: #ffffff; // Fondo blanco para las tarjetas
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra ligera
  margin: 1rem; // Separación entre tarjetas
  color: #6366F1; // Texto oscuro para contraste
}

.client-card ion-card-header {
  background-color: #f9f9f9; // Fondo ligeramente gris para el encabezado
  border-bottom: 1px solid #e0e0e0; // Línea divisoria
  border-radius: 10px 10px 0 0; // Bordes superiores redondeados
}

.client-card ion-card-title {
  color: #6366F1; // Color para el título
  font-weight: bold;
}

.client-card ion-list {
  color: #6366F1; // Color para el título
  font-weight: bold;
}
.client-card ion-card-content{

    background-color: #f9f9f9;
}
