ion-menu {
  background-color: #0B1121;

  ion-list {
      ion-item {
          --ion-item-background: #0B1121 !important;
      }
  }
}

ion-title {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.item {
  --color: white;
}

ion-icon {
  color: #3246F2
}