.welcome-container {
    text-align: center;
    color: #ffffff;
  
    h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }
  
    ion-button {
      margin: 1rem 0;
    }
  
    .terms {
      margin-top: 2rem;
      text-decoration: underline;
      cursor: pointer;
    }
  
    .logo {
      margin-top: 3rem;
      font-size: 1.5rem;
      font-weight: bold;
    }

    .a-1{
        color: #BCBCBC;

    }
  }
  