<ion-header>
  <ion-icon name="arrow-back-outline" slot="start" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title class="title ion-padding">Generar QR</ion-title>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="photo-container">
    <qr-code [value]="value" size="300" />
  </div>
  <br>
  <ion-button color="tertiary" class="input-container ion-paading">
    Generar QR
  </ion-button>
</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/cliente/home-cliente">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
      <ion-icon slot="start" name="person"></ion-icon>
      Perfil
    </ion-button>
  </div>
</ion-footer>