<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="photo-container">
    <qr-code [value]="value" size="300"  />
  </div>
  <ion-button expand="block" color="primary" class="ion-padding">
    Generar QR
  </ion-button>
</ion-content>

<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/cliente/home-cliente">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
      <ion-icon slot="start" name="person"></ion-icon>
      Perfil
    </ion-button>
  </div>
</ion-footer>
