<ion-header>
  <!-- Botón de regreso con flecha -->
<ion-icon name="arrow-back-outline" slot="start" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
<ion-icon name="close-outline" slot="end" class="close-button" routerLink="/cliente/home-cliente"></ion-icon>
  <ion-title>Reseña</ion-title>
  <br>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <br>
  <h2 class="title">Evalúa a nuestro mecánico</h2>
  <div class="calificacion-container">
    <img src="assets/icon/avatar.png" alt="Descripción de la imagen" class="imagen-calificacion" />
    <ion-label position="stacked" class="guide">Dale una calificación del 1 al 5:</ion-label>
    <div class="estrellas">
      <ion-icon *ngFor="let star of stars; let i = index"
                 [name]="i < rating ? 'star' : 'star-outline'"
                 (click)="rate(i + 1)"></ion-icon>
    </div>

    <ion-item>
      <ion-label position="stacked" class="text">Notas:</ion-label>
      <ion-textarea [(ngModel)]="comment" class="input-item" placeholder="Escribe tu comentario aquí..."></ion-textarea>
    </ion-item>
    <ion-button color="tertiary" (click)="submitRating()">Enviar Calificación</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="button-container">
      <ion-button class="custom-button" expand="block" routerLink="/cliente/home-cliente">
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-button>
      <ion-button class="custom-button" expand="block" routerLink="/mecanico/ajustes">
        <ion-icon slot="start" name="person"></ion-icon>
        Perfil
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
