.button-container {
  display: flex;
}

ion-header {
  ion-title {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
  }

  // Estilo del botón con la flecha de regreso
.back-button {
  position: absolute;
  top: 30px;  // Ajustar la posición
  left: 10px; // Ajustar la posición
  color: #ffffff; // Flecha blanca
  padding: 0; // Sin relleno adicional
  border: none; // Sin borde
  font-size: 2rem; // Tamaño de la flecha
}
}

.custom-button {
  --border-radius: 0px;
  --color: #ffffff;
  width: 49%;
}

.input-item {
  --background: #ffffff; /* Fondo blanco para el input */
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 1.5rem;
  --color: black; /* Texto negro para los inputs */
}

ion-item {
  --ion-item-background: #0B1121 !important;
}

.client-card {
  background: #1E293B !important;
  width: 100%;
  height: auto;
}


ion-label {
  p {
    color: #fff;
    padding: 2px;
    font-size: 16px;
  }
}

ion-col .container {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}

.container__background {
  background: #F2994A !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.container__background ion-icon {
  color: #07010a;
  width: 25px;
  height: 25px;
}

.client-details p {
  color: #b3b3b3;
}