<ion-content class="ion-padding">
  <!-- Botón con la flecha en la esquina superior izquierda -->
  <ion-button class="back-button" fill="clear" a routerLink="/bienvenidos">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  <br>
  <br>
  <h1 class="title">Iniciar sesión</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <ion-label position="stacked">Correo electrónico:</ion-label>
    <ion-item class="input-item">
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <p></p>
    <ion-label position="stacked">Contraseña:</ion-label>
    <ion-item class="input-item">
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    
    <ion-button type="submit">Iniciar sesión</ion-button>
    <h2 class="line2">————— O —————</h2>
    <!-- Se inserta el boton de google -->
    <ion-button class="google-btn" color="light">
      <img src="assets/icono-google.svg" alt="Google Icon" class="google-icon">
      Iniciar sesión con Google
    </ion-button>
    <ion-text>
      <a routerLink="/recuperar-contrasena">¿Has olvidado tu contraseña?</a>
    </ion-text>
  </form>
</ion-content>

<ion-text class="line1">__________________</ion-text>
<h2 class="final">AutoMinder</h2>

