ion-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}
ion-icon {
  position: absolute;
  top: 30px;  
  left: 10px; 
  color: #ffffff; 
  padding: 0; 
  border: none; 
  font-size: 2rem; 
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.line1 {
  text-align: center;
  color: #3032A3;
}

.final {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;

img {
  width: 100px;
  height: auto;
  }
}


.car-form {
  width: 100%;
  max-width: 400px; 
  margin-top: 1px;
  color: white;

  .input-item {
    --background: #FFFFFF; 
      border-radius: 8px; 
      margin-bottom: 1.5rem; 
      --color: black; 
}
}

.label {
  text-align: start;
}

ion-button {
  --background: #3246F2;
  color: #ffffff; 
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem auto; 
  display: block;
  width: 70%; 
}