<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">

    <!-- Selector de Marca -->
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select formControlName="brand">
        <ion-select-option *ngFor="let brand of carBrands" [value]="brand.id"> 
          {{ brand.name }} 
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selector de Modelo -->
    <ion-item>
      <ion-label>Modelo</ion-label>
      <ion-select formControlName="model">
        <ion-select-option *ngFor="let model of models" [value]="model">
          {{ model }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Selector de Año -->
    <ion-item>
      <ion-label>Año</ion-label>
      <ion-select formControlName="year">
        <ion-select-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Campo para la Patente -->
    <ion-item>
      <ion-label>Patente</ion-label>
      <ion-input formControlName="patente"></ion-input>
    </ion-item>

    <!-- Botón de Enviar -->
    <ion-button expand="full" type="submit">Enviar</ion-button>
  </form>
</ion-content>


<ion-text class="line1">__________________</ion-text>
  <h2 class="final">AutoMinder</h2>