<ion-content class="ion-padding">
<!-- Botón con la flecha en la esquina superior izquierda -->
<ion-icon
    name="arrow-back-outline" class="back-button" fill="clear" a routerLink="/inicio-sesion"
></ion-icon>
<br>
<br>
<h1 class="title">Agregar vehículo</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="vehicleForm" class="car-form">
  <ion-item class="input-item">
    <ion-label position="floting" class="label">Marca:</ion-label>
    <ion-select formControlName="brand" (ionChange)="onBrandChange($event.detail.value)">
      <ion-select-option *ngFor="let brand of carBrands" [value]="brand.id"> 
        {{ brand.name }} 
      </ion-select-option>
    </ion-select>
  </ion-item>
    <p></p>
  <ion-item class="input-item">
    <ion-label position="floting" class="label">Modelo:</ion-label>
    <ion-select formControlName="model">
      <ion-select-option *ngFor="let model of models" [value]="model.id">
        {{ model.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
    <p></p>
  <ion-item class="input-item">
    <ion-label position="floting" class="label">Año:</ion-label>
    <ion-select formControlName="year">
      <ion-select-option *ngFor="let year of years" [value]="year">{{ year }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="input-item">
    <ion-label position="floating" class="label">Patente</ion-label>
    <ion-input formControlName="patente"></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" routerLink="/mecanico/generar-servicio">Agregar vehículo</ion-button> 
  </form>
</ion-content>

<ion-text class="line1">__________________</ion-text>
  <h2 class="final">AutoMinder</h2>