<ion-header>
  <!-- Botón de regreso con flecha -->
<ion-icon name="arrow-back-outline" class="back-button" fill="clear" (click)="goBack()"></ion-icon>
  <ion-title class="title">Cotizaciones</ion-title>
  <br>
  <br>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-searchbar class="input-item" placeholder="Buscar Cotización..."></ion-searchbar>
  <ion-card class="client-card">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let evento of eventos" routerLink="/mecanico/aprobar-cotiza">
          <ion-label>
            <ion-card-subtitle>{{ evento.patente }}</ion-card-subtitle>
            <h2>{{ evento.nombre }}</h2>
            <p>{{ evento.hora }}</p>
            <p>{{ evento.estado }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="button-container">
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/home-mecanico">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>
    <ion-button class="custom-button" expand="block" routerLink="/mecanico/register-user">
      <ion-icon slot="start" name="person"></ion-icon>
      Agregar Perfil
    </ion-button>
  </div>
</ion-footer>
