.button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; /* Esquinas cuadradas */
    --color: #ffffff; 
    width: 49%; 

}

// Estilo del botón con la flecha de regreso
.back-button {
  position: absolute;
  top: 30px;  // Ajustar la posición
  left: 10px; // Ajustar la posición
  color: #ffffff; // Flecha blanca
  padding: 0; // Sin relleno adicional
  border: none; // Sin borde
  font-size: 2rem; // Tamaño de la flecha
}

.title {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.input-item {
  --background: #FFFFFF; // Fondo gris claro para el input
    border-radius: 8px; // Bordes redondeados
    margin-bottom: 1.5rem; // Espacio entre campos de entrada
    --color: black; // Texto negro para los inputs
}

.client-details h3 {
  color: #ffffff;
}

.client-details p {
  color: #ffffff;
}

.client-details span {
  color: #ffffff;
}

.client-card {
  background-color: #ffffff; // Fondo blanco para las tarjetas
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Sombra ligera
  margin: 1rem; // Separación entre tarjetas
  color: #6366F1; // Texto oscuro para contraste
}

.client-card ion-card-header {
  background-color: #f9f9f9; // Fondo ligeramente gris para el encabezado
  border-bottom: 1px solid #e0e0e0; // Línea divisoria
  border-radius: 10px 10px 0 0; // Bordes superiores redondeados
}

.client-card ion-card-title {
  font-size: 1.2rem;
  color: #6366F1; // Color para el título
  font-weight: bold;
}