/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */


// @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import "@ionic/angular/css/palettes/dark.system.css";
// @import '@ionic/angular/css/palettes/dark.always.css';

:root {
    --ion-text-color: #fff7f7; /* Gris oscuro */
    --ion-background-color: #623ce9; /* Fondo blanco */
    --ion-color-primary: #6366F1; /* Azul púrpura para botones */
    --ion-color-secondary: #7B5BF2; /* Púrpura claro */
    --ion-color-tertiary: #BCBCBC; /* Gris claro */
    --ion-card-background-color: #ffffff; /* Fondo blanco global para las tarjetas */
    --ion-text-color: #ffffff; /* Texto en azul púrpura */
    ion-alert {
        --color: #623ce9; /* Color azul */
        --ion-text-color: #623ce9; /* Asegura que el texto principal también sea azul */
      
        .alert-message {
          color: #623ce9; /* Mensaje de alerta en azul */
        }
      }
      
}
.dark-theme {
    --ion-text-color: #FFFFFF; /* Texto blanco */
    --ion-background-color: #1E1E1E; /* Fondo oscuro */
    --ion-color-primary: #6366F1; /* Azul púrpura */
}
