<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    class="input-item"
    placeholder="Buscar Servicios..."
    (ionInput)="onSearchChange($event)">
  </ion-searchbar>
  
  <ion-card class="client-card">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let evento of filteredEventos" routerLink="/mecanico/home-mecanico">
          <ion-label>
            <h2>Servicio: {{ evento.name }}</h2>
            <p>Nombre clinte: {{ evento.owner.name }} {{ evento.owner.lastname }}</p>
            <p>Email clinte: {{ evento.owner.email }}</p>
            <p>Inicio: {{ evento.start_maintenance | date: 'short' }} Fin: {{ evento.end_maintenance | date: 'short' }}</p>
            <p>vehículo: {{ evento.car.fullName }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
