<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    class="input-item"
    placeholder="Buscar Servicios..."
    (ionInput)="onSearchChange($event)">
  </ion-searchbar>
  
  <ion-card class="client-card">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let evento of eventos" routerLink="/mecanico/home-mecanico">
          <ion-label>
            <h2>ID: {{ evento.id }}</h2>
            <h3>Servicio: {{ evento.name }}</h3>
            <p>Status ID: {{ evento.status_id }}</p>
            <p>Recomendación: {{ evento.recommendation_action }}</p>
            <p>Precio: {{ evento.pricing | currency }}</p>
            <p>Car ID: {{ evento.car_id }}</p>
            <p>Mecánico ID: {{ evento.mechanic_id }}</p>
            <p>Inicio: {{ evento.start_maintenance | date: 'short' }}</p>
            <p>Fin: {{ evento.end_maintenance | date: 'short' }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
