<ion-header>
  <ion-icon name="arrow-back-outline" slot="start" class="back-button" (click)="goBack()" fill="clear"></ion-icon>
  <ion-title>Historial</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br>
  <ion-searchbar
    class="input-item"
    placeholder="Buscar Servicios..."
    (ionInput)="onSearchChange($event)">
  </ion-searchbar>

  

  <!-- Lista paginada de eventos -->
  <ion-card class="client-card">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let evento of getPaginatedEventos()" routerLink="/mecanico/home-mecanico">
          <ion-label class="client-details">
            <h2>Servicio: {{ evento.name }}</h2>
            <p>Nombre cliente: {{ evento.owner.name }} {{ evento.owner.lastname }}</p>
            <p>Email cliente: {{ evento.owner.email }}</p>
            <p>Vehículo: {{ evento.car.fullName }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="filteredEventos.length === 0" class="no-data-card">
    <ion-card-content>
      <ion-label>No hay datos disponibles</ion-label>
    </ion-card-content>
  </ion-card>

  <!-- Controles de paginación -->
  <div class="pagination-container">
    <ion-button fill="clear" (click)="previousPage()" [disabled]="currentPage === 1">
      Anterior
    </ion-button>
    <ion-button fill="clear" (click)="nextPage()" [disabled]="!hasNextPage()">
      Siguiente
    </ion-button>
  </div>
</ion-content>
