.button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; /* Esquinas cuadradas */
    --color: #001f3f; 
    width: 49%; 

}

// Estilo del título
ion-title {
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 3.2rem;
}

// Estilo del botón con la flecha de regreso
.back-button {
  position: absolute;
  top: 30px;  // Ajustar la posición
  left: 10px; // Ajustar la posición
  color: #ffffff; // Flecha blanca
  padding: 0; // Sin relleno adicional
  border: none; // Sin borde
  font-size: 2rem; // Tamaño de la flecha
}

.input-item {
  --background: #FFFFFF; // Fondo gris claro para el input
    border-radius: 8px; // Bordes redondeados
    margin-bottom: 1.5rem; // Espacio entre campos de entrada
    margin-top: 3rem;
    --color: black; // Texto negro para los inputs
}

.client-details h2 {
  color: #ffffff;
}

.client-details p {
  color: #b3b3b3;
}
.no-data-card {
  text-align: center;
  padding: 1rem;
  color: #ffffff;
  background-color: #333333;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

ion-button {
  --border-radius: 8px;
  --color: #ffffff;
}
