.button-container {
    display: flex;
  }
  
  .custom-button {
    --border-radius: 0px; /* Esquinas cuadradas */
    --color: #ffffff;  
    width: 49%; 
}

.input-item {
  --background: #ffffff; /* Fondo blanco para el input */
  border-radius: 8px; // Bordes redondeados
  margin-bottom: 1.5rem; // Espacio entre campos de entrada
  --color: black; /* Texto negro para los inputs */
}

.back-button {
  position: absolute;
  top: 30px;
  left: 10px;
  padding: 0;
  border: none;
  font-size: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.client-details h3 {
  color: #ffffff;
}

.client-details p {
  color: #ffffff;
}

.client-details span {
  color: #ffffff;
}