<ion-header>
    <!-- Botón de regreso con flecha -->
  <ion-icon name="arrow-back-outline" class="back-button" fill="clear" a routerLink="/mecanico/home-mecanico"></ion-icon>
    <ion-title>Información Cliente</ion-title>
    <br>
    <br>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Datos Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-list>
        <ion-item class="item">
          <ion-label>Nombre : Pamela Chupa</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Correo : pa.chupaloduoc.cl</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Numero Telefonico : +56985213213</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Fecha : 29/09/2024</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Hora : 15:30</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Datos vehículo</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-list>
        <ion-item>
          <ion-label>Patente : KDTS82</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Marca : Toyota</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Modelo : Yaris</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Año : 2018</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="title">Lista de Servicios</ion-card-title>
    </ion-card-header>
    <ion-card-content class="info-card">
      <ion-item>
        <ion-label>Cambio de aceite 4X4</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Revisión técnica auto mini</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total servicios</ion-label>
        <ion-note slot="end">$200.000</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
    <ion-button expand="full" (click)="presentAlert()">Iniciar</ion-button>
</ion-footer>
